<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>View</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Input Passing Viewer</div>
        <hr>
    <l> Nama sayuran : </l><l th:text="${nama}"></l><br><br>
    <l> Harga perkilo : </l><l th:text="${harga}"></l><br><br>
    <l> Jumlah Barang : </l><l th:text="${Jmlbeli}"></l><br><br>
    <l> Jumlah Bayar : </l><l th:text="${Jmlbayar}"></l><br><br>
    <l> Discount : </l><l th:text="${disc}"></l><br><br>
    <l> Total : </l><l th:text="${total}"></l><br><br>
    <l> Uang Bayar : </l><l th:text="${uang}"></l><br><br>
    <l> Kembalian : </l><l th:text="${kembalian}"></l><br><br>
    <l> Massage : </l><l th:text="${money}"></l><br><br>  
    </body>
</html>
